<!DOCTYPE html>
<html>
<head>
  <title>Node Weather App</title>
  <link rel="icon" href="/images/weather.png" />
  <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src='images/pmi-acp-600px.png' alt='PMI-ACP logo' />
  </div>
  
  {{>footer}}
</body>
</html>